/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion {
  background-color: white;
}

button.accordion::after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active::after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
