@import url("https://fonts.googleapis.com/css2?family=Muli&family=Roboto&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h2 {
  margin: 0;
  padding: 0.8rem;
  width: 100%;
  font-family: Muli, sans-serif;
  background-color: #79d70f;
  color: rgb(255, 255, 255);
  text-decoration: rgb(255, 255, 255);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

h3 {
  margin: 0;
  padding: 0.8rem;
  font-family: Muli, sans-serif;
}

p,
li {
  margin: 0;
  padding: 0.5rem;
  text-decoration: rgb(10, 10, 10);
  line-height: 1.6;
  opacity: 0.8;
  color: #0a0a0a;
}

blockquote {
  color: #0a0a0a;
  opacity: 0.8;
  text-decoration: rgb(10, 10, 10);
  line-height: 1.6;
  font-style: italic;
}

a {
  color: #0a0a0a;
}

img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  vertical-align: text-bottom;
}

#site-header {
  background-image: url("/assets/header-trees.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

#site-header img {
  background: white;
  width: 90vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  max-width: 600px;
}

#logo {
  padding: 1rem;
}

#fb-logo {
  width: 10vw;
  height: auto;
}

#ward-finder {
  background: url("/assets/ward-finder-background.png");
  background-size: cover;
  background-color: transparent;
  text-align: center;
}

#ward-finder h2 {
  background-color: transparent;
  min-width: 60vw;
  font-size: large;
}

#ward-finder h2 span {
  background-color: white;
  line-height: 2.5;
  color: #0a0a0a;
  text-decoration: rgb(10, 10, 10);
  padding: 0.4rem;
}

#ward-finder form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(250, 169, 22);
  box-sizing: border-box;
}

#ward-finder form * {
  margin: 0.3rem;
}

#ward-finder p {
  color: rgb(10, 10, 10);
  background-color: rgb(255, 255, 255);
  text-decoration: rgb(10, 10, 10);
  opacity: 1;
}

#ward-finder .geo-pin {
  max-height: 5rem;
  width: auto;
}

#ward-finder select {
  width: 100%;
}

#ward-finder #group-msg {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: white;
}

#ward-finder #group-msg #facebook-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ward-finder #group-msg #facebook-link #fb-logo {
  margin: 1rem;
}

.accordion {
  font-family: Muli, sans-serif;
  font-size: medium;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion {
  background-color: white;
}

button.accordion::after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active::after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p,
blockquote {
  font-family: Roboto, sans-serif;
  font-size: small;
}

.panel ul li {
  font-family: Roboto, sans-serif;
  font-size: small;
}

#faq h2 {
  padding: 8vw;
  background-image: url(assets/faq-background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-align: center;
  font-family: Muli, sans-serif;
  font-size: larger;
  color: #ffffff;
  text-decoration: rgb(255, 255, 255);
  max-width: 100vw;
  box-sizing: border-box;
}

#faq h2 .faq-icon {
  height: 1rem;
}

#organisations .org-grid {
  display: inline-block;
  text-align: center;
  margin-top: 1rem;
}

#organisations .org-logo {
  display: inline-block;
  width: 25vw;
  height: 25vw;
  margin: 1rem 2rem;
  background-color: grey;
}

footer {
  font-size: small;
  background-color: #dadada;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  #organisations .org-logo {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    margin: 1rem 2rem;
    background-color: grey;
  }

  #ward-finder form {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .inline {
    display: grid;
    grid-template-areas:
      "img header"
      "img text";
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .side-image {
    grid-area: img;
    height: auto;
    max-width: 100%;
  }

  .ln-explained-header {
    font-size: larger;
    grid-area: header;
    position: relative;
    left: -5rem;
    top: 1rem;
    margin-left: -100px;
    width: 50vw;
  }

  .ln-explained-text {
    grid-area: text;
    display: table-cell;
    vertical-align: text-bottom;
    position: relative;
    top: 1.5rem;
  }

  h3 {
    margin: 1rem;
    text-align: center;
  }

  #faq {
    max-width: 70vw;
    margin: auto;
  }

  .explainer-video {
    width: 70vw;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
