/* Typography */
@font-face {
  font-family: "Muli";
  src: url(/assets/fonts/Muli-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}
/* Font variable */
/* Site colour variables */
html {
  font-size: 16px;
}

body {
  max-width: 900px;
  min-width: 320px;
  margin: auto;
  padding: 1rem;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  text-decoration: #0a0a0a;
}

/* Images responsive by default */
img {
  width: 100%;
  height: auto;
}

/* For display only to screen readers */
/* Media breakpoints */
/* Block elements */
.header {
  position: relative;
  text-align: center;
  color: white;
}
.header__text {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
.header__logo {
  background-color: white;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

.explainer__text--heading {
  margin-top: 0;
  padding: 0 0.5rem;
  font-family: Muli, sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #79d70f;
}
.explainer__text--bodytext {
  padding: 0 0.5rem;
}
@media (min-width: 900px) {
  .explainer {
    display: flex;
    align-items: flex-start;
  }
  .explainer__image {
    min-width: 50%;
  }
  .explainer__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .explainer__text--heading {
    margin-top: 1rem;
    margin-left: -6rem;
  }
  .explainer__text--bodytext {
    margin-left: 2rem;
    font-size: 1rem;
  }
}

.video {
  max-width: 100%;
  text-align: center;
  margin: auto;
}
.video__heading {
  font-family: Muli, sans-serif;
  font-size: 2rem;
  color: #0a0a0a;
  text-decoration: #0a0a0a;
}
@media (min-width: 600px) {
  .video {
    max-width: 70%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.groupfinder {
  background: url("/assets/images/groupfinder-background.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.groupfinder__heading {
  min-width: 100%;
  font-size: 1.2rem;
}
.groupfinder__heading span {
  background-color: white;
  line-height: 2.5;
  color: #0a0a0a;
  text-decoration: #0a0a0a;
  padding: 0.4rem;
}
.groupfinder__pin {
  max-height: 5rem;
  width: auto;
}
.groupfinder__form {
  margin: 1rem;
  padding: 1rem;
  background-color: #faa916;
}
.groupfinder__msg {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  max-width: 50%;
}
.groupfinder__msg p {
  width: 100%;
}
.groupfinder__social-logo {
  max-height: 2rem;
  width: auto;
  margin-right: 1rem;
}

/*# sourceMappingURL=main.css.map */
