@charset "UTF-8";
/* Media breakpoints */
/* Site-wide variables */
/* Layout */
.container {
  max-width: 980px;
  margin: auto;
}
@media (max-width: 599px) {
  .container {
    padding: 0 !important;
  }
}

.bodytext {
  max-width: 750px;
  margin: auto;
  padding: 0.2rem;
  text-align: justify;
}

body {
  margin: 0;
}

html {
  min-width: 320px;
}

/* Images responsive by default */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Typography */
@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/Muli-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf) format("truetype");
}
html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  text-decoration: #0a0a0a;
}

a {
  color: #0a0a0a;
}

a:visited {
  color: #0a0a0a;
}

/* For display only to screen readers */
/* Block elements */
.header {
  position: relative;
  text-align: center;
  margin: 1rem auto;
}
@media (max-width: 599px) {
  .header {
    margin-bottom: 0.5rem;
  }
}
.header__text {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  font-family: Muli, sans-serif;
  color: #ffffff;
  text-decoration: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(121, 215, 15, 0.7);
}
@media (max-width: 599px) {
  .header__text {
    font-size: 1.5rem;
  }
}

.explainer {
  margin: 1rem auto;
}
.explainer__text--heading {
  padding: 0.5rem 1.5rem;
  font-family: Muli, sans-serif;
  color: #ffffff;
  text-decoration: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #79d70f;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}
.explainer__text--bodytext {
  padding: 0 0.5rem;
}
.explainer__video {
  margin: 3rem 0 0 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.comparison {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comparison_image {
  max-width: 45%;
  margin: 2rem 0;
}
@media (max-width: 599px) {
  .comparison_image {
    max-width: 90%;
  }
}

.comparison_caption {
  font-size: small;
  padding: 0.5rem;
  font-style: italic;
  text-align: center;
}

.faq {
  margin: 1rem auto;
}
.faq__accordion {
  font-family: Muli, sans-serif;
  font-size: medium;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background-color: white;
}
.faq__panelheader {
  display: inline;
  font-size: 1.1rem;
}
.faq__accordion::after {
  content: "+";
  font-weight: bold;
  float: right;
  margin-left: 10px;
}
.faq__accordion.active::after {
  content: "−";
}
.faq__panel {
  margin-left: 1rem;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.organisations {
  margin: 1rem auto;
}
.organisations__header {
  font-family: Muli, sans-serif;
  text-align: center;
  padding: 1rem;
}
.organisations__header--line {
  display: inline-block;
}
.organisations__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.organisations__grid--logo {
  max-width: 100px;
  margin: 1rem;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
  background-color: #dadada;
  margin: 0;
  padding: 0.5rem;
  line-height: 1.6;
  opacity: 0.8;
}

.cta {
  background: url(../../assets/images/groupfinder-background.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem 0;
}
.cta__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  padding: 0.5rem;
  margin: 0 1rem;
  background-color: #faa916;
}
.cta__form label {
  text-align: center;
  width: 100%;
}
.cta__form * {
  margin: 0.5rem;
}
.cta__text {
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
  text-decoration: white;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
.cta__arrow {
  margin: 1rem;
  font-size: 5rem;
  line-height: 3rem;
  font-style: bold;
  color: #2b580c;
}
.cta__fb_logo {
  display: inline-block;
  position: relative;
  top: -1px;
  height: 1.5rem;
  width: auto;
  margin-left: 0;
}
.cta__change_logo {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-left: 0;
}
.cta__fb_btn {
  background-color: #4267b2;
}
.cta .form-control {
  width: auto;
}
.cta__msg {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  max-width: 360px;
}
.cta__msg p {
  width: 100%;
}

.carousel-caption {
  background-color: rgba(128, 128, 128, 0.4);
}

.carousel {
  max-width: 100%;
  margin: auto;
}
@media (min-width: 900px) {
  .carousel {
    max-width: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
