<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ln4b - explainer component</title>
    <meta name="description" content="header component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/css/main.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <article class="explainer">
      <img
        class="explainer__image"
        src="/assets/images/explainer-image.jpg"
        alt="Example drawing of a Liveable Neighbourhood, showing space in a high street or residential street for people to linger and relax."
      />
      <div class="explainer__text">
        <h2 class="explainer__text--heading">
          Liveable Neighbourhoods Explained
        </h2>
        <p class="explainer__text--bodytext">
          What are Liveable Neighbourhoods?
          <br /><br />
          Essentially they are neighbourhoods where streets are for locals not
          through-traffic. Neighbourhoods with good air quality, safe walking
          and cycling routes, safe spaces for children to play, and improved
          public realm with more greenery and more outdoor seating.
        </p>
      </div>
      <h3>This video provides an excellent overview</h3>
      <div class="embed-container">
        <iframe
          src="https://www.youtube.com/embed/KvVI3Xjpsn4"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </article>
    <script src="script.js" async defer></script>
  </body>
</html>
