<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ln4b - header component</title>
    <meta name="description" content="header component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/css/main.css" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header class="header">
      <img
        class="header__background"
        src="/assets/images/header-background.png"
        alt="Photo of a tree in the middle of a luscious green meadow"
      />
      <img
        class="header__logo"
        src="/assets/images/header-logo.png"
        alt="The
      logo for Liveable Neighbourhoods for Bristol"
      />
      <h2 class="header__text">Liveable Neighbourhoods for Bristol</h2>
    </header>
    <script src="script.js" async defer></script>
  </body>
</html>
