.explainer {
  margin-bottom: $section-bottom-margin;

  @include for-phone-only {
    margin-bottom: 1rem;
  }

  &__text--heading {
    margin-top: 0;
    padding: 0 0.5rem;

    font-family: $heading__font-family;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: $accent-color-1;
  }

  &__text--bodytext {
    padding: 0 0.5rem;
  }

  @include for-tablet-landscape-up {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &__image {
      min-width: 50%;
    }

    &__image--caption {
      margin-top: 1rem;
      font-size: 0.8rem;
      font-style: italic;
      text-align: center;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;

      &--heading {
        margin-top: 1rem;
        margin-left: -6rem;
      }

      &--bodytext {
        margin-left: 2rem;

        font-size: 1rem;
      }
    }
  }
}
