.explainer {
  margin: $section-vertical-margin auto;

  &__text--heading {
    padding: 0.5rem 0.5rem;

    font-family: $heading__font-family;
    color: #ffffff;
    text-decoration: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: $accent-color-1;

    font-size: $font-size-h2;
    text-align: center;
  }

  &__text--bodytext {
    padding: 0 0.5rem;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel {
  display: none;
  @include for-phone-only {
    display: block;
  }
}

.carousel-caption {
  background-color: hsla(0, 0%, 50%, 0.4);
}

.comparison {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comparison_image {
  max-width: 45%;

  @include for-phone-only {
    max-width: 90%;
  }
}

.comparison_caption {
  font-style: italic;
  text-align: center;
}
