.explainer {
  margin-bottom: $section-bottom-margin;

  @include for-phone-only {
    margin-bottom: 1rem;
  }

  &__text--heading {
    margin-top: 0;
    padding: 0 0.5rem;

    font-family: $heading__font-family;
    color: #ffffff;
    text-decoration: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: $accent-color-1;
  }

  &__text--bodytext {
    padding: 0 0.5rem;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "carousel text"
      "video text";

    &__carousel {
      grid-area: carousel;
      margin-bottom: 2rem;
    }

    &__video {
      grid-area: video;
      max-width: 100%;
      text-align: center;
      margin: auto;
      margin-bottom: $section-bottom-margin;

      @include for-phone-only {
        margin-bottom: 1rem;
      }

      &__heading {
        font-family: $heading__font-family;
        font-size: 2rem;
        color: $bodytext-color;
        text-decoration: $bodytext-decoration;
      }
    }

    &__text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;

      &--heading {
        z-index: 1;
        margin-top: 1rem;
        margin-left: -6rem;
      }

      &--bodytext {
        margin-left: 2rem;

        font-size: 1rem;
      }
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
