.faq {
  margin: $section-vertical-margin auto;

  &__accordion {
    font-family: $heading__font-family;
    font-size: medium;
    cursor: pointer;
    padding: $text-padding;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: white;
  }

  &__panelheader {
    display: inline;
    font-size: $font-size-h3;
  }

  &__accordion::after {
    content: "\002B";
    font-weight: bold;
    float: right;
    margin-left: 10px;
  }

  &__accordion.active::after {
    content: "\2212";
  }

  &__panel {
    margin-left: 1rem;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
