.groupfinder {
  background: url("/assets/images/groupfinder-background.png");
  background-size: cover;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: $section-vertical-margin auto;
  padding: 1rem;

  @include for-phone-only {
    margin-bottom: 1rem;
  }

  &__form {
    margin: 1rem;
    padding: 1rem;
    background-color: $accent-color-2;
  }

  &__msg {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: white;
    padding: 1rem;
    margin: 1rem;

    max-width: 50%;

    p {
      width: 100%;
    }
  }
}

.form-inline .form-group,
label {
  margin-right: 1rem;
}
