.header {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: $section-bottom-margin;

  @include for-phone-only {
    margin-bottom: $section-bottom-margin--phones;
  }

  &__background {
    display: block;
  }

  &__text {
    @include sr-only;
  }
}
