.header {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: $section-bottom-margin;

  @include for-phone-only {
    margin-bottom: 0;
  }

  &__background {
    display: block;
  }

  &__text {
    @include sr-only;
  }

  &__logo {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
  }
}
