.organisations {
  margin-bottom: $section-bottom-margin;

  &__header {
    font-family: $heading__font-family;
    font-size: 2rem;
    text-align: center;
  }

  &__header--line {
    display: inline-block;
  }

  &__grid {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
  }

  &__grid--logo {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1rem 2rem;
    background-color: grey;
  }

  @include for-phone-only {
    &__grid--logo {
      width: 25vw;
      height: 25vw;
    }
  }
}
