/* Site colour variables */

$bodytext-color: #0a0a0a;
$accent-color-1: #79d70f;
$accent-text-color-1: #ffffff;
$accent-color-2: #faa916;
$accent-text-color-2: #0a0a0a;

body {
  max-width: 900px;
  min-width: 320px;
  margin: auto;
}

/* Images responsive by default */
img {
  width: 100%;
  height: auto;
}

/* For display only to screen readers */
@mixin sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
