@font-face {
  font-family: "Muli";
  src: url(/assets/fonts/Muli-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}

/* Font variable */
$heading__font-family: Muli, sans-serif;
$bodytext__font-family: Roboto, sans-serif;

html {
  font-size: 16px;
  font-family: $bodytext__font-family;
  line-height: 1.6;
}
